.accordion {
  &__item {
    [data-open='true'] {
      background-color: gray;
    }
  }
}
#editor-container[data-active-element-type='line'],
#editor-container[data-image-cropping='true'] {
  .moveable-control {
    display: none !important;
  }
  .moveable-line {
    background: transparent !important;
  }
}
